<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/Login/"  method="POST">
        {% csrf_token %}
        
        username =<input type="text" name="usernm" ><br>
        
        password =<input type="password" name="passwd"><br>
        <button type="submit" > Login </button>
    </form>
    
</body>
</html>